

        
        h1 {
            color: rgb(36, 113, 163);
        }  
        
        body {
            background-color: rgb(118, 215, 196);
        }
        
	p {
	   color: rgb(23, 32, 42);
	}    
  